/*fonts*/
/*
@font-face {
  font-family: 'calibre';
  src: url('./../fonts/calibre/bold/calibre-bold.eot');
  src: url('./../fonts/calibre/bold/calibre-bold.eot?#iefix') format('embedded-opentype'),
       url('./../fonts/calibre/bold/calibre-bold.woff2') format('woff2'),
       url('./../fonts/calibre/bold/calibre-bold.woff') format('woff');
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}
*/


@mixin fontTitle($weight:medium) {
  //font-family: 'Montserrat', sans-serif;
  //font-family: 'Parisienne', cursive;
  //font-family: 'Italianno', cursive;
  //font-family: 'Tangerine', cursive; font-weight: bold;
  //font-family: 'Cinzel', serif;
  //font-family: 'Lateef', cursive;
  //font-family: 'Noto Serif SC', serif;
  //font-family: 'Assistant', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}
@mixin fontText() {
  //font-family: 'Noto Serif SC', serif;
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Crimson Text', serif;
}

html, .root {
  @include fontText();
  font-size: 14px;
  @include media-breakpoint-up(lg) {font-size: 13px; }
  @include media-breakpoint-up(xxl) {font-size: 14px; }
  color:$base;
}
body, .article {
  @include fontText();
  font-size: 1em;
}
h1, .h1 {
  @include fontTitle();
  font-size: 3em;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
  @include media-breakpoint-up($main-breakpoint) {font-size: 4em;}
}
h2, .h2 {
  @include fontTitle();
  font-size: 3em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
h3, .h3 {
  font-size: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
  font-weight:bold;
}
h4, .h4 {
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.2em;
}
h5, .h5 {
  font-size: 0.9em;
  margin-top: 1.3em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  font-size: 1.1em;
  margin-top: 0em;
  margin-bottom: 1em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
 b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
a{
  color:$base;
  &:hover, &:focus{
    text-decoration:none;
    color:$base;
  }
}

.subtitle{
  font-size:0.9em;
  color:#787878;
  position: relative;
  padding-bottom:0.6em;
  @include fontText();
  text-transform: uppercase;
  letter-spacing: 0.4em;
  &:after{
    content:"";
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    width:100px;
    height:1px;
    background-color:#787878;
  }
}


.bigtitle{
  @include fontTitle(bold);
  font-size:3.2em;
  line-height:1.25em;
  color:$dark;
  @include media-breakpoint-up(md) { font-size:4em; }
  @include media-breakpoint-up(lg) { font-size:6em; }
}


.white{color:#fff; border-color:#fff; &:after{border-color:#fff;}}
.dark{color:$dark;border-color:$dark; &:after{border-color:$dark;}}
.softgreen{color:$softgreen; border-color:$softgreen;&:after{border-color:$softgreen;}}
.green{color:$green; border-color:$green;&:after{border-color:$green;}}


