/*====================================================*/
/*=======================Header ======================*/
/*====================================================*/

.topbar-wrapper{
  z-index:10000;
  background-color: white;
  position:fixed;
  top:0;
  width: 100%;
  height:$spaceVertical;

  @include media-breakpoint-up($main-breakpoint) { 
    position:absolute;
    padding:0 $spaceHorizontal;
  }

  @include animate(all, 0.3s);
  .topbar-container{
    height:100%;
    >.row{
      height:100%;
    }
  }

  &.scrolled{
    padding:15px 0 15px 0;
    background: white;
    -webkit-box-shadow: 0 1px 10px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 10px 5px rgba(0,0,0,0.3);
    .main-menu li {
      &.btn-resa{
        border-color:$red;
        &:hover{
          background-color:rgba(163,55,52,0.1);
        }
      }
      a{
        color:$red;
        &:after{
          background: $red;
        }
      }
    }
    .logo-wrapper{
      max-width:150px;
      .logo-container{
        background-image:url(../img/logo/logo-couleur.png);
        //background-image:url(../img/logo/logo-noir.png);
      }
    }
    .button-burger .icon-burger .bar{
      background: $red;
    }

  }
}

.logo-wrapper{
  @include animate(all, 0.3s);
  .logo-container{
    background-size: 100%;
    a{
      display: block; 
      height:100%;
      position:relative;
      top:-10px;
    }
    img{ 
      height: 60px;
      width:auto;
      @include media-breakpoint-up(md) {
        height: 60px;
        width:auto;
      }
    }
  }
}

.navigation-wrapper{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1000;
  transform:translateX(-100%);
  background:rgba(248, 248, 248, 0.95);
  padding:$spaceVertical/2 0 ;
  @include media-breakpoint-up($main-breakpoint) {
    padding:$spaceVertical 0 $spaceVertical $spaceHorizontal;
    width:50%;
    position: absolute;
  }
  @include media-breakpoint-up(xl) {
    width:33%;
  }
  .navigation-container{
    padding: $spaceVertical $spaceHorizontal;
  }
  .mobile-main-menu{
    background-size: 100%;
  }
  @include animate(transform, 1s);
  ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    height:100%;
    display:flex;
    flex-direction:column;
    padding:5px 0 50px 0;
    li{
      padding:5px 0;
    }
    a{
      @include fontTitle();
      font-size:2.1em;
      display: block;
    }
  }
  &.open{
    transform:translateX(0);
  }
}