/*====================================================*/
/*==================== Woocommerce ===================*/
/*====================================================*/

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    float: none;
    width: auto;
    clear: none;
}
