@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:300,400|Oswald:300,400&display=swap");

@mixin titleFont() {
  font-family: "Oswald", sans-serif;
}

@mixin commonFont() {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
}

body {
  @include commonFont();

  background-color: #fff;
}

h2 {
  @include titleFont();

  font-size: 2em;
  text-transform: uppercase;
  color: #404040;
  font-weight: 400;
  position: relative;
  //padding-bottom: 0.5em !important;
  display: inline-block;

  &::after {
    content: "";
    display: inline-block;
    width: 60%;
    height: 1px;
    background: $red;
    position: relative;
    top: -0.6em;
    bottom: 0;
  }
}

h3 {
  @include commonFont();
}
