.nav-primary .nav li {
  @extend .nav-item;
}

.nav-primary .nav a {
  @extend .nav-link;

  color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 1.1em;
}

.navbar-wrapper {
  //background: red;
  height: 100px;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.navbar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand {
  background: url(../images/logo-white-alpha2.png) left center no-repeat;
  //background-size: contain;
  overflow: hidden;
  text-indent: -2000px;
  height: 100px;
  width: 100px;
}

.home {
  .page-header {
    display: none;
  }
}

.button-burger {
  display: none;
  height: 115px;
  width: 115px;
  cursor: pointer;

  #bar1,
  #bar2,
  #bar3 {
    transition: all 0.5s $easeOutCubic;
    transform-origin: center center;
  }

  &:hover {
    #bar1 {
      transform: translateY(13px);
    }

    #bar2 {
      transform: scaleX(0);
    }

    #bar3 {
      transform: translateY(-13px);
    }
  }

  &:active {
    #bar1 {
      transform: rotate(42deg) translateY(13px);
    }

    #bar2 {
      transform: scaleX(0);
    }

    #bar3 {
      transform: rotate(-42deg) translateY(-13px);
    }
  }
}

.button-contact {
  height: 115px;
}

.svg-container {
  padding: 45px 35px;
}
